.App{
    background-color: rgb(29, 29, 29);
}

.menuItems{
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) {
  .menuItems{
    margin-left: 0;
    margin-right: 0;
    justify-self: right;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 55px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
